body {
    background-color: black;
}

header h1 {
    color: white;
    font-family: Montserrat;
    font-size: 1.15em;
}

.imageaboutus {
    position: absolute;
    top: 60px;
    right: 700px;
    size: 1.5em;
}

main p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    position: relative;
    bottom: -500px;
    font-size: 1.8em;
    font-style: italic;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(194, 100, 100);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

.indexbtn {
    position: absolute;
    top: 10px;
    right: 370.5px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    height: 60px;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.applicationbtn {
    position: absolute;
    top: 10px;
    right: 199.77px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    height: 60px;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.aboutusbtn {
    position: absolute;
    top: 10px;
    right: 50px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    height: 60px;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}